*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 100%;


    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

a {
    list-style: none;
    text-decoration: none;

    color: inherit;

    transition: color ease-in 0.5s;
}

a:hover,
a:focus {
    color: #66C05D;
}

li {
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1920px;
    height: 1992px;
}

/*Шапка и титульное меню сайта*/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
}

.NavigateSupport {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    width: 100%;

    background-color: #EFEFEF;
}

.NavigateSupportContent, 
.titleInform,
.Navigation  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 1350px;
}

.NavigateSupportContent {
    width: 600px;
    height: 50px;

    font-size: 14px;
    line-height: 100%;

    background-color: #EFEFEF;
}

.number-phone {
    font-size: 16px;
}

.titleInform {
    height: 120px;
}

.Navigation {
    width: 800px;
    height: 80px;

    font-size: 16px;
    line-height: 100%;
}

.logo {
    width: 80px;
    height: 80px;
}

.img-label {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 10%;

    color: #66C05D;
}

.blockPhone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 350px;
}

.Main {
    height: 604px;
    width: 100%;
}

.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    height: 600px;

    background-image: url("../image/fon-main.png");
    background-position: center;
    background-repeat: no-repeat;

    margin-bottom: 30px;
}

.content-left {
    width: 1200px;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    color: #FFFFFF;

    margin-bottom: 44px;
}

.title-main-text {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;

    margin-bottom: 44px;
}

/*Секции с контентом*/

.Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    height: 730px;

    margin-bottom: 200px;
}

.box-content {
    width: 1110px;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    color: #000000;

    margin-bottom: 29px;
}

.container-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item-content p {
    font-size: 14px;
    line-height: 141%;
    letter-spacing: 0%;
    align-items: center;
}

.bead-item {
    width: 125px;
    height: 166px;

    margin-bottom: 20px;
}

.buy-item {
    width: 130px;
    height: 35px;

    border-radius: 50px;

    border: 0;
    background-color: #66C05D;
    color: white;

    transition: all ease-in-out 0.3s;
}

.buy-item:hover,
.buy-item:focus {
    border: 2px solid #66C05D;
    background-color: transparent;
    color: #000000;
}

.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 1110px;
}

.subsc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    color: white;
    background-color: #66C05D;

    width: 540px;
    height: 212px;
}

.message-img {
    width: 140px;
    height: 140px;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;

    color: white;
    background-color: #66C05D;

    width: 540px;
    height: 212px;

    padding-left: 40px;
}

.btn-link-info {
    text-decoration: none;

    border: 2px solid white;
    border-radius: 50px;
    color: white;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 35px;
    padding-right: 35px;

    transition: all ease-in-out 0.3s;
}

.btn-link-info:hover,
.btn-link-info:focus {
    background-color: white;
    color: #000000;
}

.support-link {
    text-decoration: none;

    border: 2px solid #66C05D;
    border-radius: 50px;
    color: #000000;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 35px;
    padding-right: 35px;

    transition: all ease-in-out 0.3s;
}

.support-link:hover,
.support-link:focus {
    background-color: #66C05D;
    color: #000000;
}

.text-block-inf {
   margin-bottom: 35px;
   line-height: 141%;
   letter-spacing: 0%;
}

/*Подвал сайта*/

footer {
     width: 100%;
     height: 184px;
}

.item-point {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    height: 120px;
}

.text-info-corp {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #EFEFEF;
    color: #828282;

    font-size: 12px;
    line-height: 100%;

    height: 64px;
}

.link-social {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 250px;
}

.logo-soc {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #66C05D;
    border-radius: 100%;

    width: 45px;
    height: 45px;

    transition: all ease-in 0.2s;
}

.logo-soc:hover,
.logo-soc:focus {
    border: 3px solid #66C05D;
    width: 50px;
    height: 50px;
}

.logo-soc > img {
    width: 25px;
    height: 18px;
}

.input-email {
    border: 0;
    border-radius: 50px;

    width: 225px;
    height: 35px;

    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #C4C4C4;

    padding-left: 25px;

    transition: all ease-in-out 0.3s;
}

.input-email:focus,
.input-email:hover {
    outline-color: #66C05D;
}

/*Адаптив под устройства*/

@media (max-width: 1400px) {
    .container {
        width: 100%;
        height: 100%;
    } 

    .Navigation {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .subscribe {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 15px;
        margin-bottom: 15px;
        
        width: 100%;
    }

    .titleInform,
    .content-left,
    .box-content {
        width: 100%;
    }

    .content-left {
        margin-left: 20px;
    }

    h2 {
        text-align: center;
    }

    .container-items {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 1110px) {
    .subsc {
        margin-bottom: 15px;
    }
}

@media (max-width: 900px) {
    h1,
    .title-main-text {
        color: #000000;
    }
}

@media (max-width: 660px) {
    footer {
        padding-top: 300px;
    }
}

@media (max-width: 600px) {
    .titleInform {
        justify-content: center;
    }

    li {
        margin: 10px;
    }

    .NavigateSupportContent,
    .Navigation {
        height: 100px;
    }
}


@media (max-width: 400px) {
    .item-content {
        margin: 5px;
    }

    .subsc {
        padding-left: 20px;
    }

    .container-items {
        justify-content: center;
    }

    .message-img {
        visibility: hidden;
    }
}