*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

a {
    list-style: none;
}

li {
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1920px;
    height: 1992px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.NavigateSupport {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    width: 100%;

    background-color: #EFEFEF;
}

.NavigateSupportContent, 
.titleInform,
.Navigation  {
    display: flex;
    justify-content: space-between;
    align-items: center;


    width: 1350px;
}

.NavigateSupportContent {
    width: 600px;
    height: 50px;

    background-color: #EFEFEF;
}

.titleInform {
    height: 120px;
}

.Navigation {
    width: 800px;
    height: 80px;
}

.img-label {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    color: green;
}

.blockPhone {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 350px;
}

.Main {
    height: 604px;
    width: 100%;
}

.container-main {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 600px;

    background-image: url("../image/fon-main.png");
    background-position: center;
    background-repeat: no-repeat;

    margin-bottom: 30px;
}

.content-left {
    width: 1200px;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    font-family: "Roboto";
    line-height: 100%;
    color: #FFFFFF;

    margin-bottom: 44px;
}

.title-main-text {
    font-size: 14px;
    font-family: "Roboto";
    line-height: 20px;
    color: #FFFFFF;

    margin-bottom: 44px;
}

.Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 730px;

    margin-bottom: 200px;
}

.box-content {
    width: 1110px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    font-family: "Roboto";
    line-height: 100%;
    color: #000000;

    margin-bottom: 29px;
}

.container-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bead-item {
    width: 125px;
    height: 166px;
}

.buy-item {
    width: 130px;
    height: 35px;

    border-radius: 50px;

    border: 0;
    background-color: rgb(106, 201, 106);
    color: white;
}

.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1110px;
}

.subsc {
    display: flex;
    justify-content: space-around;
    align-items: center;

    color: white;
    background-color: rgb(106, 201, 106);

    width: 540px;
    height: 212px;
}

.message-img {
    width: 140px;
    height: 140px;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    color: white;
    background-color: rgb(106, 201, 106);

    width: 540px;
    height: 212px;

    padding-left: 40px;
}

.btn-link-info {
    text-decoration: none;

    border: 2px solid white;
    border-radius: 50px;
    color: white;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 35px;
    padding-right: 35px;
}

.support-link {
    text-decoration: none;

    border: 2px solid rgb(106, 201, 106);
    border-radius: 50px;
    color: #000000;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 35px;
    padding-right: 35px;
}

.text-block-inf {
   margin-bottom: 35px; 
}

footer {
     width: 100%;
     height: 184px;
}

.item-point {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 120px;
}

.text-info-corp {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #EFEFEF;
    color: #828282;

    font-size: 12px;
    line-height: 100%;

    height: 64px;
}